In [40]:
import pandas as pd
import csv
df = pd.read_csv('fm.csv')
#print(df.head())
df = df.applymap(lambda x: 1 if x == True else x)
df = df.applymap(lambda x: 0 if x == False else x)
#df[df.eq(df.max(1),0)&df.ne(0)].stack()
print(len(df.fmid.unique()))
#print(df.describe())

8742

In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import HTML

In [48]:
df.describe()

,fmid,x,y,has_organic,has_bakedgoods,has_cheese,has_crafts,has_flowers,has_eggs,has_seafood,...,has_juices,has_mushrooms,has_petfood,has_tofu,has_wildharvested,accepts_credit,accepts_wic,accepts_wiccash,accepts_sfmnp,accepts_snap
count,8.742000e+03,8713.000000,8713.000000,3678.000000,8742.000000,8742.000000,8742.000000,8742.000000,8742.000000,8742.000000,...,8742.000000,8742.000000,8742.000000,8742.000000,8742.000000,8742.000000,8742.000000,8742.000000,8742.000000,8742.000000
mean,1.010579e+06,-90.922341,39.145994,0.644916,0.591627,0.330817,0.413635,0.455273,0.500343,0.163921,...,0.159003,0.153626,0.125143,0.025967,0.094715,0.586136,0.307024,0.151910,0.321094,0.329787
std,5.531551e+04,17.385010,5.282462,0.478604,0.491561,0.470534,0.492513,0.498024,0.500028,0.370225,...,0.365699,0.360611,0.330900,0.159045,0.292838,0.492553,0.461286,0.358954,0.466923,0.470163
min,1.000001e+06,-166.540000,17.709900,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.003399e+06,-97.172023,36.271200,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.006850e+06,-86.242558,40.028000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,1.010712e+06,-77.589746,42.426989,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000
max,2.000036e+06,-64.704300,64.862750,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [49]:
df.has_organic.mean()
for index, row in df.iterrows():
 print  (index, row['x'])
df.has_organic.isnull()
df.y.fillna(value='NA')

0.644915715062534

In [67]:
df.head(1)

,fmid,market_name,street,city,county,state,zip,website,facebook,twitter,...,has_petfood,has_tofu,has_wildharvested,accepts_credit,accepts_wic,accepts_wiccash,accepts_sfmnp,accepts_snap,updatetime,updatetime_unparsed
0,1018261,Caledonia Farmers Market Association - Danville,NaN,Danville,Caledonia,Vermont,05828,https://sites.google.com/site/caledoniafarmers...,https://www.facebook.com/Danville.VT.Farmers.M...,NaN,...,1,0,0,1,1,0,1,0,2017-06-20T22:43:57+00:00,6/20/2017 10:43:57 PM

In [ ]:
df.duplicated()
df.groupby('state').has_eggs.value_counts().unstack()

In [83]:
df.has_organic.fillna(value=4)

0       1.0
1       4.0
2       4.0
3       4.0
4       4.0
5       1.0
6       1.0
7       0.0
8       1.0
9       0.0
10      4.0
11      4.0
12      0.0
13      4.0
14      4.0
15      0.0
16      1.0
17      4.0
18      4.0
19      1.0
20      1.0
21      0.0
22      0.0
23      4.0
24      0.0
25      0.0
26      0.0
27      1.0
28      1.0
29      4.0
       ...
8712    4.0
8713    1.0
8714    1.0
8715    4.0
8716    4.0
8717    4.0
8718    1.0
8719    1.0
8720    1.0
8721    4.0
8722    4.0
8723    4.0
8724    4.0
8725    4.0
8726    4.0
8727    1.0
8728    1.0
8729    4.0
8730    1.0
8731    0.0
8732    4.0
8733    4.0
8734    4.0
8735    4.0
8736    4.0
8737    4.0
8738    0.0
8739    0.0
8740    4.0
8741    4.0
Name: has_organic, Length: 8742, dtype: float64